body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  background: #c2baba; 
  font-size: 1em;
  line-height: 1.5em;
}
/* Header css */
.page-header{
  flex: 0 0 auto;
  overflow: hidden;
  background-color: rgba(63, 65, 70, 0.333);
  margin: 0px 220px;
  padding: 20px 10px;
}

.page-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.page-header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

/* Footer css */
.page-footer{
  overflow: hidden;
  background-color: #2C2827;
  margin: 0px 220px;
  padding: 20px 10px;
}

.page-footer .elementos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin-left: 120px;
  margin-right: 120px;
}

.text-left, .text-right {
  font-style: italic;
  font-size: 12px;
  color: #646464;
  font-weight: bolder;
}

/* Barras de Spam css*/
.left-spam {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.right-spam {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
}

.right-spam img { 
  object-fit: cover;
  width: 220px;
  height: 99%;
}

.left-spam img { 
  object-fit: cover;
  width: 220px;
  height: 99%;
}