.modificar{
    text-decoration: none;
    color: black;
    background-color: rgb(121, 121, 121);
    padding: 10px;
    border-radius: 25px;
}

.modificar:hover{
    background-color: rgb(75, 75, 75);
    color: white;
}

table{
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
}
table tr{
    border-bottom: 1px solid grey;
}

table tr td:first-child{
    font-weight: bold;
}
table tr td:nth-child(2){
    padding: 5px;
}


